<body>
  <div class="container">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <button hidden id="button-left" class="btn btn-warning" (click)="getPrev()">Prev</button>
    <img src="{{ getSlide() }}" alt="slide" />
    <button hidden id="button-right" class="btn btn-warning" (click)="getNext()">Next</button>
  </div>
  </div>
</div>
  <div class="card-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
              <h4 class="card-title">Our Products</h4>
                <div class="card-block">
                  <img class="card-img-top img-fluid" src="/assets/images/home-images/products.jpg" alt="Card image cap">
                    <p class="card-text">Browse our Products Catalogue.</p>
                    <button type="button" class="w-75 btn btn-lg btn-outline-primary" routerLink="/products">Products</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <h4 class="card-title">Gallery</h4>
              <div class="card-block">
                <img class="card-img-top img-fluid" src="/assets/images/home-images/Gallery.jpg" alt="Card image cap">
                  <p class="card-text">Browse our Products Photo Gallery.</p>
                  <button type="button" class="w-75 btn btn-lg btn-outline-primary" routerLink="/gallery">Gallery</button>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <h4 class="card-title">About Us</h4>
            <div class="card-block">
              <img class="card-img-top img-fluid" src="/assets/images/home-images/baking-with-love.jpg" alt="Card image cap">
                <p class="card-text">Know our story and who we are...</p>
                <button type="button" class="w-75 btn btn-lg btn-outline-primary" routerLink="/about-us">About Us</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <h4 class="card-title">Contact Us</h4>
          <div class="card-block">
            <img class="card-img-top img-fluid" src="/assets/images/home-images/contact-us.jpg" alt="Card image cap">
              <p class="card-text">Here's where you can contact us...</p>
              <button type="button" class="w-75 btn btn-lg btn-outline-primary" routerLink="/contact-us">Contact Us</button>
          </div>
      </div>
  </div>
        </div>
  </div>
</body>
