
<body>
  <div class="gallery-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Cake Design Gallery</h1>
    <p class="fs-5 text-body-secondary">
      Here's are some of the cake designs we have offered our customers. You can take a look and
    decide or you can have you cake customized as you like just pitch us your cake design idea.  </p>
  </div>
<br>
  <div class="lightbox">
    <div class="row">
      <div class="col-lg-4 col-lg-4 col-lg-4" *ngFor="let cake of cakes" >
        <img
          src="{{cake.imageUrl}}"
          alt="{{cake.Name}}"
          class="w-100"
        />
      </div>

