<body>
  <div class="text-container">
  <h1> Contact Us</h1>
  </div>
<div class="col-lg-6 col-md-8 mx-auto">
  <img src="" height="400px" width="500px">
<h2> Address:</h2>
<h3>#24 Camella St., Ayala Alabang Village, Alabang, Muntinlupa City Philippines</h3>
<br>
<h2>Email Address: </h2>
<h3>#24 Camella St., Ayala Alabang Village, Alabang, Muntinlupa City Philippines</h3>
<br>
<h2>Phone Numbers: </h2>
<h3>+63 987 654 3210</h3>
<h3>+63 123 457 8960</h3>
    <a routerLink="/home" class="btn btn-outline-warning">Back to Home</a>
</div>
