<body>
  <div class="text-container">
  <h1> About Us</h1>
  </div>
  <div class="col-lg-6 col-md-8 mx-auto">
    <img src="/assets/images/about-us.jpg" height="400px" width="500px">
    <p class="lead text-body-secondary">We are a small bakeshop that offers customized cakes, cupcakes
      and other baked goodies. Since baking is our passion we put alot of love and care on what we offer.
      The products are baked to order so you can be sure of
      it’s freshness. We only use high quality ingredients for your orders so that
      you will be getting a best tasting product from us. I hope I can serve you soon.
      And I will waiting for your orders.</p>
    <p>
      <a routerLink="/home" class="btn btn-outline-warning">Back to Home</a>
    </p>
  </div>
