
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Great+Vibes&family=Lilita+One&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<div class="jumbotron">
  <div class="image-container">
  <img src="/assets/images/Jumbotron-photo.jpg" height="400px" width="1000px">
    <div class="text-overlay">
      <h1 class="mb-3">Come into a world of delectable and indulgent baked products.</h1>
      <h4 class="mb-3">Where you can satisfy your sweet cravings and pump up your happy hormones.</h4>
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Start your journey</a>
    </div>
  </div>
  </div>


