<body>
<div class="container">
<table class="table table-responsive">
  <thead>
    <tr id="head">
      <th>Product Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cart of cartArray">
      <td id="image"><img src="{{cart.imageUrl}}"></td>
      <td id="name">{{cart.Name}}</td>
      <td id="description">{{cart.Description1}}</td>
      <td id="price">Php {{cart.Price}}</td>
      <td> <button class="w-75 btn btn-lg btn-outline-warning" (click)="deleteItem(cart)"> Remove Item</button></td>
    </tr>
  </tbody>
</table>
<button routerLink="/products" class="w-25 btn btn-lg btn-outline-warning">Add more items</button>
</div>
<div class="card w-25">
  <div class="card-body">
    <h4 class="card-title">Summary</h4>
    <p class="card-text">Amount: Php{{Totalpurchase}}</p>
    <p class="card-text">Delivery: Php 150</p>
    <h4 class="card-text">Total: Php{{Totalpurchase + 150}}</h4>
    <a routerLink="/checkout" class="w-50 btn btn-lg btn-primary"> Checkout</a>
  </div>
</div>
