.container{
  padding-top: 20px;
}

thead{
  border: 2px;
  border-style: solid;

}
img{
  width: 150px;
}
.head{
  text-align: center;
}

body{
  background-color: cadetblue;
}
.btn {
  font-size:small;
  margin-top: 20px;
}
.name {
  padding-top: 100px;
}

.card{
  margin-left: 800px;
  margin-bottom: 20px;
}

.card-body{
  margin-bottom: 20px !important;
}
.btn.w-25{
  margin-bottom: 20px;
}
.div.row {
  width: 500px;
  height: 500px;
}

