img {
  padding-top: 20px;
  padding-right: 30px;
  display: block;
  width: 60%;
  margin: auto;
}
.material-icons {
  color: #FB8C00;
}

.fa {
  padding: 10px;
  padding-right: 20px;
  font-size: 15px;
  width: 10px;

  text-decoration: none;
  margin: 2px 2px;
  border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #cf1eae;
  color: white;
}

