<footer class="text-center text-lg-start bg-white text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="/assets/images/logo.png">
          </h6>
          <p>
            Hi! We are Cake Me Out. We offer cakes, cupcakes and other baked goods.
            All products are baked to order to ensure freshness. Your orders are made of premium ingredients
            for high quality food items only for our customers.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Social Networks
          </h6>
          <p>
            <a href="#" class="fa fa-facebook"></a>
          </p>
          <p>
            <a href="#" class="fa fa-twitter"></a>
          </p>
          <p>
            <a href="#" class="fa fa-instagram"></a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Quick links
          </h6>
          <p>
            <a routerLink="/home" class="text-reset">Home</a>
          </p>
          <p>
            <a routerLink="/products" class="text-reset">Products</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Gallery</a>
          </p>
          <p>
            <a href="#!" class="text-reset">About Us</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mb-md-0 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
          <p><i class="material-icons">home</i>  #24 Camella St., Ayala Alabang Village, Alabang, Muntinlupa City Philippines</p>
          <p>
            <i class="material-icons">mail</i> cakemeout@gmail.com
          </p>
          <p><i class="material-icons">call</i> +63 987 654 3210</p>
          <p><i class="material-icons">call</i> +63 123 456 7890</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CakeMeOut.com</a>
  </div>
</footer>
