

.gallery-3{
  background-color: #f5dfa1;
  margin-bottom: 20px;
}

body{
  background-color: #0d9ba3 !important;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  margin-bottom: 30px;
}

div.gallery:hover {
  border: 1px solid #FBBC14;

}

div.gallery img {
  width: 300px;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;

}
