<body>
  <div class="gallery-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Our Products Gallery</h1>
    <p class="fs-5 text-body-secondary">
      Here's are some of the cake designs and other products that we have made
    and delivered to our customers. You might find inspiration here
    or we can talk about your preferred product design.  </p>
  </div>
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="/assets/images/Gallery-photos/cake-photos/cake1.jpg" alt="Cinque Terre"
      width="800" height="200">
    </a>
    <div class="desc">Cakes</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="/assets/images/Gallery-photos/cupcakes-photos/cupcake1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Cupcakes</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="/assets/images/Gallery-photos/seasonal-offer-photos/xmascake4.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Seasonal Offers</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="/assets/images/Gallery-photos/bakedgoods-photos/brownies.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Baked Goods</div>
  </div>

  </body>
