nav {
  background-color:#FBBC14;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: Lucida Calligraphy;
  font-size: large;
  font-display: center;
  font-weight: bolder;
  overflow: hidden;
}

nav ul li a {

  display: block;
  color: rgb(35, 72, 35);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: auto;
}

nav ul li a:hover {
  background-color: #FE8B10;
}

img {
  margin-left: 25px;
  padding-top: 2px ;
  padding-bottom: 1px;
  width: 153px;
  
}

svg{
  margin-right: 25px;
  margin-top: 17px;
  float: right;
}
