<div class="checkout">
  <h1>Checkout</h1>
  <div class="row">
    <div class="col-sm-7">
      <h3>Add Delivery Address:</h3>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter valid email ex.abcd@email.com"/>
        <label for="email">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="Enter valid address"/>
        <label for="email">Contact No.:</label>
        <input type="text" class="form-control" id="contact" placeholder="Enter valid contact number"/>
        <button class="btn btn-primary">Place Order</button>
        </div>
    </div>
  </div>
